@font-face {
  font-family: 'GothamB';
  src: url('../fonts/GothamBold.woff2') format('woff2'),
    url('../fonts/GothamBold.woff') format('woff');
}

@font-face {
  font-family: 'MontserratB';
  src: url('../fonts/montserratBold.woff2') format('woff2'),
    url('../fonts/montserratBold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaR';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProximaS';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaB';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaEB';
  src: url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff');
}
